<div class="row d-flex justify-content-center mt-4 ">
   <div class="col-md-7 search">
     <div class="card">
        <div class="card-body">
            <form id="search-site" action='/stories/search/:query' method='GET'>
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" name="query" id="form1" class="form-control" />
                        <label class="form-label" for="form1">Search</label>
                    </div>
                    <button type="submit" class="btn btn-dark">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

        </div>
    </div>
   </div>
</div>

<div class="row d-flex justify-content-center">
    {{#each stories}}
    <div class="col-md-7">
        <div class="card my-2 shadow-lg">

            <div class="card-body">
                <span class="float-end"> {{{editIcon user ../user _id}}}</span>
                <div class="mt-0 d-flex">
                    <img src="{{user.image}}" class="rounded-circle" width="50" height="50" alt="">
                    <div class=" ms-1">
                        <a href="/stories/user/{{user.id}}" class="text-dark"><strong>{{user.displayName}}</strong></a>
                        <small class="d-block">{{formatDate createdAt   'MMM  DD , h:mm a'}} </small>
                    </div>
                </div>
                <div class="mt-3">
                    <p>{{title}}</p>
                    <p>{{stripTags (truncate body 150)}}</p>
                </div>

            </div>
            <div class="card-footer ">
                <a href="/stories/{{_id}}" class="btn btn-sm btn-dark float-end">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No stories to display</p>
    {{/each}}
</div>